[build]
dockerfilePath = "backend/Dockerfile"
watchPatterns = ["backend/**"]

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
